In [3]:
%matplotlib inline

from urllib.request import urlretrieve
import pandas as pd
from source.tickData import get_data_adjusted

data = get_data_adjusted(symbol='MOMO',data_type='weekly',force_download=True)
data.head()

,open,high,low,close,adjusted close,volume,dividend amount
timestamp,,,,,,,
2018-08-17,42.32,42.35,34.80,38.15,38.15,26677723,0.0
2018-08-10,39.88,42.64,38.98,42.28,42.28,11436800,0.0
2018-08-03,41.62,41.95,39.39,40.40,40.40,17581465,0.0
2018-07-27,45.23,46.89,41.06,41.88,41.88,28387259,0.0
2018-07-20,44.43,46.64,43.53,45.47,45.47,20590747,0.0