In [1]:
%matplotlib inline

from urllib.request import urlretrieve
import pandas as pd
from source.tickData import get_data_adjusted

data = get_data_adjusted(symbol='AAPL',data_type='weekly',force_download=True)
data.head()

,open,high,low,close,adjusted close,volume,dividend amount
timestamp,,,,,,,
2018-08-17,207.70,217.95,207.70,217.58,217.5800,138975687,0.00
2018-08-10,208.00,209.78,204.52,207.53,207.5300,121642089,0.73
2018-08-03,191.90,208.74,189.07,207.99,207.2609,224189697,0.00
2018-07-27,190.68,195.96,189.56,190.98,190.3106,94613682,0.00
2018-07-20,191.52,192.65,189.20,191.44,190.7690,87963808,0.00