In [3]:
%matplotlib inline

from urllib.request import urlretrieve
import pandas as pd
url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo&datatype=csv"
filename = "Stock.csv"
urlretrieve(url, filename)
data = pd.read_csv(filename, index_col='timestamp',parse_dates=True)
data.head()

              open     high     low   close    volume
timestamp
2018-08-17  107.36  107.900  106.69  107.58  18061512
2018-08-16  108.30  108.860  107.30  107.64  21384289
2018-08-15  108.49  108.985  106.82  107.66  29982806
2018-08-14  108.56  109.750  108.04  109.56  16788314
2018-08-13  109.24  109.580  108.10  108.21  18474884